:root {
  --main-bg-color: #fff;
  --mani-text-color: #000;
}
body.dark-mode {
  --main-bg-color: #333; /* 다크 모드 배경색 */
  --main-text-color: #fff; /* 다크 모드 텍스트 색상 */
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: #fff; */
  background-color: var(--main-bg-color);
  box-shadow: 0 0 3px #000;
  z-index: 20;
}
body.dark-mode header,
body.dark-mode header .header__input--text,
body.dark-mode header .header__input--button,
body.dark-mode header .header__profile--btn,
body.dark-mode header .header__mode {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.header__wrapper {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 16px;
}
.header__start {
  height: 40px;
  line-height: 40px;
}
.header__hamberger {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}
.header__title {
  font-size: 1.2rem;
  margin-left: 6px;
}
/* 검색창이 헤더의 넓이를 따라가도록 */
.header__center {
  width: 50%;
}
.header__form {
  display: flex;
  max-width: 100%;
}
/* 인풋을 버튼크기 빼고 다 차지하도록 */
.header__input--text {
  width: calc(100% - 60px);
  height: 40px;
  padding: 0 6px;
  border: 1px solid #8f8f8f;
  border-right: none;
  border-radius: 2px 0 0 2px;
}

.header__input--button {
  width: 60px;
  height: 42px;
  border: 1px solid #8f8f8f;
  border-left: none;
  border-radius: 0 2px 2px 0;
}
.header__end {
  display: flex;
}
.header__search {
  display: none;
  margin-right: 5px;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}
.header__dropdown {
  height: 100%;
  position: relative;
}
.header__profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #eaeaea;
  background-color: salmon;
}
.header__profile--modal {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
  /* position: relative; */
  position: absolute;
  top: 50px;
  right: 10px;
  width: 300px;
  height: 100px;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}
.header__profile--modal.show {
  visibility: visible;
  opacity: 1;
}
.header__profile--btn {
  height: 50%;
  font-size: 1em;
  /* background-color: #8f8f8f; */
  border: none;
}
.header__mode {
  height: 50%;
  font-size: 1em;
  /* background-color: #8f8f8f; */
  border: none;
}
@media screen and (max-width: 800px) {
  .header__title {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .header__search {
    display: block;
  }
  .header__center {
    display: none;
  }
}
